.flipY {
  transform: scaleX(-1);
}

/* headers */
.webHeader {
  height: 60px;
  background-color: var(--mantine-color-cyan-6);
  border-bottom: 1px solid black;
  position: sticky;
  top: 0px;
  z-index: 101;
}

.formatFooterBarTop {
  /* On mobile we want this bar pinned to the viewport top.
     Use fixed so it stays visible on scroll. */
  position: fixed;
  top: 49px;
  left: 0px;
  right: 0px;
  z-index: 102;
}

.formatFooterMain {
  height: 40px;
  background-color: var(--mantine-color-pink-6);
  background-color: var(--mantine-color-purple-6);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(225deg, var(--mantine-color-purple-6), var(--mantine-color-pink-6));
  position: sticky;
  top: 60px;
  z-index: 100;
}

.header {
  background-color: var(--mantine-color-purple-6);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(225deg, var(--mantine-color-purple-6), var(--mantine-color-pink-6));
}

.orangeHeader {
  background-color: var(--mantine-color-orange-6);
}

/* whButton */
.whButtonSelected {
  color: var(--mantine-color-orange-6);
  background-color: var(--mantine-color-transparent);
  font-weight: bold;
}

.whButtonSelected:hover {
  color: var(--mantine-color-orange-6);
  background-color: var(--mantine-color-transparent);
  font-weight: bold;
}

.whButton {
  color: "white";
  background-color: var(--mantine-color-transparent);
}

.whButton:hover {
  color: var(--mantine-color-orange-6);
  background-color: var(--mantine-color-transparent);
}

/* ghostButton */
.ghostButton {
  background-color: var(--mantine-color-transparent);
}

.ghostButton:hover {
  background-color: var(--mantine-color-transparent);
  border-bottom: 5px solid black;
}

/* ghostButtonOrange */
.ghostButtonOrange {
  background-color: var(--mantine-color-transparent);
  color: var(--mantine-color-orange-6)
}

.ghostButtonOrange:hover {
  background-color: var(--mantine-color-white);
  color: var(--mantine-color-orange-6);
}

/* ghostButtonSelected */
.ghostButtonSelected {
  background-color: var(--mantine-color-transparent);
  border-bottom: 5px solid black;
}

.ghostButtonSelected:hover {
  background-color: var(--mantine-color-transparent);
  border-bottom: 5px solid black;
}

/* orangeSelected */
.orangeSelected:hover {
  background-color: var(--mantine-color-transparent);
}

.orangeSelected {
  &[data-combobox-selected] {
    background-color: var(--mantine-color-orange-6);
  }
}

/* animation */
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUpFirst {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.fadeInUpSecond {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.fadeInUpThird {
  animation-name: fadeInUp;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

/* misc */
.leftBorder {
  background-color: var(--mantine-color-goodGreen-6)
}

.midBorder {
  background-color: var(--mantine-color-midBlue-6)
}

.rightBorder {
  background-color: var(--mantine-color-alarmRed-6)
}