.master {
    border-left: 5px solid var(--mantine-color-red-5)
}

.allstar {
    border-left: 5px solid var(--mantine-color-blue-5)
}

.professional {
    border-left: 5px solid var(--mantine-color-gray-5)
}

.learner {
    border-left: 5px solid var(--mantine-color-yellow-5)
}